<table class="table table-striped" > 
  <tr>
    <th>Type</th>
    <th>Value</th>
    <th>DateTime</th>
    <th>Description</th>
    <th>Currency</th>
  </tr>

  <tr *ngFor="let t of transactionList">
    <td>{{getTransactionType(t.type)}}</td>
    <td>{{t.value}}</td>
    <td>{{t.dateTime | date:' dd/MM/yyyy h:mm'}}</td>
    <td>{{t.description}}</td>
    <td>{{t.currency}}</td>
  </tr>                 
</table>
